@width: 193px;
@height: 151px;
@borderSize: 1px;
@containerSize:960px;

#StackForm{
	float:left;
	margin:5px;
	label,input{
		display:block;
		width:80px;
		height:20px;
		font-size:10px;
		float:left;
	}
	fieldset{
		display:block;
		width:200px;
		padding:5px;
		border:1px solid #ccc;
	}
}
h2{
	margin:10px;
}
#ExperimentStack{
	float:left;
	position: relative;
}
.stackItemsWrapper{
	float:left;
	width:@containerSize;
	padding:10px;
	background:url('assets/stripes.png');
	margin:10px;
	&.ghost{
		position: absolute;
		left:@containerSize + 50;
		top:0;
	}
}
.stackContainer{
	position:relative;
	float:left;
	background:rgba(255,255,255,.5);
	width:@containerSize;
	>div{
		width:@width - (@borderSize * 2);
		height:@height - (@borderSize * 2);
		background:red;
		border:@borderSize solid #adadFF;
		float:left;
		position: absolute;
		span{
			font-size:10px;
			color:#fdfdfd;
			font-family: sans-serif;
			position: absolute;
			background-color: black;
		}
		&.landscape2{
			width:(@width * 2) - (@borderSize * 2); 
		}
		&.portrait2{
			height:(@height * 2) - (@borderSize * 2);
		}
		&.line{
			background:#5E5C70;
		}
		&.block{
			background:#767295;
		}
		&.square{
			background:#ABA6CA;
		}
		&.box{
			background:#B3B0CA;
		}
	}
	&.ghost{
		>div{
			position: relative;
		}
	}
}
